@model ComicBookGallery.Models.ComicBook[]

@{
    ViewBag.Title = "Comic Books List";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var comicBook in Model)
    {
        <div class="col-md-3">
            <h4>@comicBook.DisplatText</h4>
            <img class="img-responsive" src="~/Images/@comicBook.CoverImageFileName" alt="@comicBook.DisplatText" />
        </div>
    }
    
</div>