@model ComicBookGallery.Models.ComicBook[]

@{
    ViewBag.Title = "Comic Books List";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var comicBook in Model)
    {
        <div class="col-md-3">
            <h4>@Html.ActionLink(comicBook.DisplatText, "Detail", new { id=comicBook.Id})</h4>
            <a href="@Url.Action("Detail", new { id=comicBook.Id})">
                <img class="img-responsive" src="~/Images/@comicBook.CoverImageFileName" alt="@comicBook.DisplatText" />
            </a>
        </div>
    }
    
</div>